<div class="cover_surround">
  <div class="cover" >

  </div>
</div>
<div class="book_info">
  <div class="book_title">
    <%= random_book.title %><br/>
  </div>
  <div class="book_author">
    <%= random_book.author_names %>
  </div>
  <div class="book_summary">
    <%= random_book.summary %><br/>
  </div>
</div>