<h1 class="liner">What should I read next?</h1>

<div class="cover">
  <img src= '/assets/eyreaffair.png' alt="The Eyre Affair by Jasper Fforde">
</div>

<div class="book_title">
  <%= Book.first.title %><br/>
</div>

<div class="book_author">
  <%= Book.first.author_names %>
</div>

<div class="book_summary">
  <%= Book.first.summary %><br/>
</div>