body {
  background-image: url('twinkle_twinkle.png');
}

h1.liner {
  text-align: center;
  color: #fff;
  font-size: 350%;
}

div.cover {
  display: block;
  margin: 0 39%;
}

div.book_title {
  text-align: center;
  color: #fff;
  font-size: 200%;
}

div.book_author {
  text-align: center;
  color: #fff;
  font-size: 200%;
}

div.book_summary {
  text-align: center;
  color: #fff;
  font-size: 150%;
  padding-left: 50px;
  padding-right: 50px;
}